trigger:
  branches:
    include:
    - main
    - features/*

pool:
  name: azure-iac-framework

parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - prod

variables:
  tf_working_dir: '$(System.DefaultWorkingDirectory)/environments/${{ parameters.environment }}'

stages:
# ---------------- BUILD ----------------
- stage: Build
  jobs:
  - job: TerraformBuild
    steps:
    - checkout: self

    - template: templates/terraform-install.yml

    - template: templates/terraform-init.yml
      parameters:
        environment: ${{ parameters.environment }}
        workingDirectory: $(tf_working_dir)

    - template: templates/terraform-validate.yml
      parameters:
        workingDirectory: $(tf_working_dir)

    - template: templates/terraform-plan.yml
      parameters:
        workingDirectory: $(tf_working_dir)

# ---------------- SCANNING ----------------
- stage: Scanning
  dependsOn: Build
  jobs:
  - job: SecurityScans
    steps:
    - template: templates/tflint.yml
      parameters:
        workingDirectory: $(tf_working_dir)

    - template: templates/tfsec.yml
      parameters:
        workingDirectory: $(tf_working_dir)

    - template: templates/checkov.yml
      parameters:
        workingDirectory: $(tf_working_dir)

# ---------------- DEPLOY ----------------
- stage: Deploy
  dependsOn: Scanning
  jobs:
  - job: ManualValidation
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'surendrachauhan18@gmail.com'
        approvers: 'surendrachauhan18@gmail.com'
        instructions: 'Approve Terraform Apply'

  - job: TerraformApply
    dependsOn: ManualValidation
    steps:
    - template: templates/terraform-init.yml
      parameters:
        environment: ${{ parameters.environment }}
        workingDirectory: $(tf_working_dir)

    - template: templates/terraform-apply.yml
      parameters:
        workingDirectory: $(tf_working_dir)
